.form-container {
  color: white !important;
  text-align: left !important;
  .label-description {
    color: white !important;
  }

  .ml-form-embedContainer .ml-form-align-center {
    text-align: left !important;
  }

  .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody {
    margin: 0 !important;
    padding: 0 !important;
  }
}

p {
  margin-bottom: 1em;
}
