---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import Logo from "../assets/img/tangobucolico_logo_rond.png";
import MailInscriptionBanner from "../components/home/MailInscriptionBanner.astro";
import MainChoice from "../components/home/MainChoice.astro";
const title = "Tango Bucolico, le tango argentin à Crémieu et ses environs";
---

<Layout title={title}>
  <main>
    <div class="text-center">
      <Image
        class="mx-auto"
        src={Logo}
        width={300}
        height={300}
        format="webp"
        alt="Logo Tango Bucolico"
      />

      <h1 class="text-5xl mb-4">Tango Bucolico</h1>
      <p class="text-xl mb-2">Le tango bucolique à Crémieu</p>

      <MainChoice />

      <MailInscriptionBanner />
    </div>
  </main>
</Layout>
