---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import Logo from "../assets/img/tangobucolico_logo_rond.png";
import MailInscriptionBanner from "../components/home/MailInscriptionBanner.astro";
import MainChoice from "../components/home/MainChoice.astro";
const title = "Tango Bucolico, le tango argentin à Crémieu et ses environs";
---

<Layout title={title}>
  <main>
    <div class="text-center">
      <Image
        class="mx-auto"
        src={Logo}
        width={300}
        height={300}
        format="webp"
        alt="Logo Tango Bucolico"
      />

      <h1 class="text-5xl mb-4">Tango Bucolico</h1>
      <p class="text-xl mb-2">Le tango bucolique à Crémieu</p>

      <p>
        Notre site internet arrive bientôt ! En attendant, vous pouvez recevoir
        de nos nouvelles grâce à notre liste de diffusion par mail :
      </p>

      <MainChoice />

      <MailInscriptionBanner />

      <p>
        Vous pouvez aussi nous contacter par email à <a
          class="underline"
          href="mailto:contact@tangobucolico.com">contact@tangobucolico.com</a
        >
      </p>
    </div>
  </main>

  <style></style>
</Layout>
