---
import Choice from "./Choice.astro"
import festival from "../../assets/img/photos/orchestre.jpg";
import milonga from "../../assets/img/photos/balphoto2.jpg";
import pratique from "../../assets/img/photos/pratique.jpg";
---

<div class="container mx-auto my-4">
  <div class="md:grid grid-cols-3 gap-8 mx-4">
    <Choice href="/tango-bucolico-festival" title="Festival tango" subtitle="1er weekend de juillet à Crémieu" image={festival} />
    <Choice href="/milongas-bals-de-tango" title="Milongas" subtitle="Bals de tango argentin" image={milonga} />
    <Choice href="/pratiques-stages-tango" title="Pratiques tango & stages" subtitle="Pour s'entrainer, expérimenter et progresser !" image={pratique} />
  </div>
</div>
