---
import { Image } from "astro:assets";
import Logo from "../assets/img/tangobucolico_logo_detour.png";
---

<div class="bg-primaryMedium text-dark font-semibold mt-10 py-16">
  <div class="container mx-auto px-4">
    <div class="flex items-center gap-10 justify-center">
      <div>
        <a href="/">
          <Image
            src={Logo}
            width={154}
            height={210}
            format="webp"
            alt="Logo Tango Bucólico"
          />
        </a>
      </div>

      <div class="md:ml-24 text-lg">
        <nav>
          <ul class="text-xl">
            <li class="h-8">
              <a class="hover:underline" href="/tango-bucolico-festival"
                >Festival</a
              >
            </li>
            <li class="h-8">
              <a class="hover:underline" href="/milongas-bals-de-tango"
                >Milongas</a
              >
            </li>
                        <li class="h-8">
              <a class="hover:underline" href="/pratiques-stages-tango"
                >Pratiques</a
              >
            </li>
            <li class="h-8">
              <a class="hover:underline" href="/contact">Contact</a>
            </li>
            <li>
              <a class="hover:underline" href="/mentions-legales"
                >Mentions légales</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
